<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->
<bean id="credit" class="com.FirstSpring.FirstSpring.creditcard" ></bean>
<bean id="Debit" class="com.FirstSpring.FirstSpring.Debitcard" ></bean>
<bean id="upi" class="com.FirstSpring.FirstSpring.Upi" ></bean>
<bean id="bc" class="com.FirstSpring.FirstSpring.BillCollector" >
	<property name="p" ref="credit"></property>
	
</bean>

</beans>